[mysqld]
binlog-format=row
binlog_row_image=full
character_set_server=utf8mb4
collation-server=utf8mb4_general_ci
init_connect='SET NAMES utf8mb4 COLLATE utf8mb4_general_ci'
skip_character_set_client_handshake
log-bin=mysql-bin
server-id=8
